

header{
    height: 100px;
    background-color: #559ffa;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 25%;
    display: flex;
    align-items: flex-end;
}

#logo{
    height: 50%;
    margin-left: 5%;
}

#title{
    margin-top: ;
    font-size: 35px;
    font-weight: bolder;}

.grey{
    color: grey;
}

#color-author{
    color: #66bfe8;
}

